@charset "UTF-8";

#skip {z-index:2;position:fixed;top:0;left:0;width:100%;}
#skip li {width:100%;}
#skip li a {display:block;width:100%;text-align:center;line-height:0;font-size:0;background:#000;color:#fff;}
#skip li a:focus {line-height:50px;font-size:20px;}

.container {width:100%;max-width:1100px;height:100%;margin:0 auto;}

#wrap {width:100%;z-index:1;position:relative;overflow:hidden;}
#wrap #header {z-index:3;position:fixed;top:0;left:0;width:100%;height:123px;background:#f6f5ef;border-top:2px solid #000;border-bottom:1px solid #e5e5e5;}
#wrap #header .container .logo-box {width:75px;height:100%;float:left;}
#wrap #header .container .logo-box h1 {height:120px;line-height:110px;}
#wrap #header .container .logo-box h1 a img {width:100%;}

#wrap #header .container .nav-box  {width:1025px;height:100%;float:left;}
#wrap #header .container .nav-box  #aside {width:100%;height:54px;padding:0 45px 0 0;}
#wrap #header .container .nav-box  #aside ul {float:right;padding:8px 0 0 0;}
#wrap #header .container .nav-box  #aside ul li {display:inline-block;margin:0 10px;}
#wrap #header .container .nav-box  #aside ul li a {font-size:13px;letter-spacing:-.5px;}
#wrap #header .container .nav-box  #aside ul li a:hover {text-decoration:underline;}
#wrap #header .container .nav-box  #aside ul li div {width:34px;height:34px;position:relative;border:1px solid #ccc;border-radius:5px;overflow:hidden;transition:all .3s;}
#wrap #header .container .nav-box  #aside ul li div a {float:right;display:block;width:34px;height:34px;text-align: center;line-height:30px;}
#wrap #header .container .nav-box  #aside ul li div a img {width:20px;}
#wrap #header .container .nav-box  #aside ul li div input {width:0;height:22px;position:absolute;top:6px;left:0;transition:all .3s;padding:0;}
#wrap #header .container .nav-box  #aside ul li div.addInput input {width:127px;padding:0 0 0 10px;}
#wrap #header .container .nav-box  #aside ul li div.addInput  {width:170px;}


#wrap #header .container .nav-box  #nav {width:100%;height:66px;}
#wrap #header .container .nav-box  #nav > ul {float:right;}
#wrap #header .container .nav-box  #nav > ul > li {float:left;}
#wrap #header .container .nav-box  #nav > ul > li > a.main-btn {display:block;padding:0 20px;line-height:40px;height:66px;font-size:13.5px;}
#wrap #header .container .nav-box  #nav > ul > li > a.main-btn:hover {background:#2C2A29;color:rgb(102,153,0);text-decoration:underline;}
#wrap #header .container .nav-box  #nav > ul > li > a.main-btn.addCurrent {background:#2C2A29;color:rgb(102,153,0);text-decoration:underline;}


#wrap #header .container .nav-box  #nav ul li .sub {display:none;width:100%;position:absolute;top:120px;left:0;}
#wrap #header .container .nav-box  #nav ul li .sub .sub-top {width:100%;height:auto;background:#2C2A29;}
#wrap #header .container .nav-box  #nav ul li .sub .sub-top .sub-container {width:1100px;margin:0 auto;padding:15px 0;}
#wrap #header .container .nav-box  #nav ul li .sub .sub-top .sub-container ul {width:100%;}
#wrap #header .container .nav-box  #nav ul li .sub .sub-top .sub-container ul li {width:20%;float:left;}
#wrap #header .container .nav-box  #nav ul li .sub .sub-top .sub-container ul li dl {width:100%;}
#wrap #header .container .nav-box  #nav ul li .sub .sub-top .sub-container ul li dl dt {line-height:35px;}
#wrap #header .container .nav-box  #nav ul li .sub .sub-top .sub-container ul li dl dt a {font-size:14px;color:#fff;}
#wrap #header .container .nav-box  #nav ul li .sub .sub-top .sub-container ul li dl dt a:hover {text-decoration:underline;}
#wrap #header .container .nav-box  #nav ul li .sub .sub-top .sub-container ul li dl dd {line-height:22px;}
#wrap #header .container .nav-box  #nav ul li .sub .sub-top .sub-container ul li dl dd a {font-size:12px;color:#999;}
#wrap #header .container .nav-box  #nav ul li .sub .sub-top .sub-container ul li dl dd a:hover {text-decoration:underline;}

#wrap #header .container .nav-box  #nav ul li .sub .sub-bottom {width:100%;height:auto;background:url(../images/gnb_sub_txbg.jpg) repeat 0 0;}
#wrap #header .container .nav-box  #nav ul li .sub .sub-bottom .sub-container {width:1100px;margin:0 auto;padding:15px 0;}
#wrap #header .container .nav-box  #nav ul li .sub .sub-bottom .sub-container dl {width:100%;}
#wrap #header .container .nav-box  #nav ul li .sub .sub-bottom .sub-container dl dt {line-height:20px;}
#wrap #header .container .nav-box  #nav ul li .sub .sub-bottom .sub-container dl dt a {font-size:12px;color:#999;}
#wrap #header .container .nav-box  #nav ul li .sub .sub-bottom .sub-container dl dt a:hover {text-decoration:underline;}
#wrap #header .container .nav-box  #nav ul li .sub .sub-bottom .sub-container dl dd {line-height:20px;font-size:12px;color:#64a70b;}

#wrap #header .container .nav-box  #nav ul li .sub.sub1 {display:none;}
#wrap #header .container .nav-box  #nav ul li .sub.sub2 {display:none;}
#wrap #header .container .nav-box  #nav ul li .sub.sub3 {display:none;}
#wrap #header .container .nav-box  #nav ul li .sub.sub4 {display:none;}
#wrap #header .container .nav-box  #nav ul li .sub.sub5 {display:none;}
#wrap #header .container .nav-box  #nav ul li .sub.sub6 {display:none;}

#main {position: relative;z-index: 1;width: 100%;max-width: 1000px;margin: 221px auto 0 auto;background: #c99;}

#main #section1 {width: 100%;position: relative;}
#main #section1 > img {width: 100%;z-index: 1;position: relative;}
#main #section1 span {z-index: 2;position: absolute;right: 50px;top: 465px;width: 100%;max-width: 430px;}
#main #section1 span img {width: 100%;}

#main #section2 {width: 100%;position: relative;}
#main #section2 > img {width: 100%;z-index: 1;position: relative;}
#main #section2 span {z-index: 2;position: absolute;left: 50%;top: 615px;width: 100%;max-width: 224px;margin: 0 0 0 -112px;}
#main #section2 span img {width: 100%;}

#main #section2 .evebt01-box {width: 100%;}
#main #section2 .evebt01-box a {display: block;}
#main #section2 .evebt01-box .list-event01 {width: 100%;display: none;}
#main #section2 .evebt01-box .list-event01 img {width: 100%;}

#main #section3  {width: 100%;position: relative;}
#main #section3  img {width: 100%;}

#main #section3 .evebt02-box {width: 100%;}
#main #section3 .evebt02-box a {display: block;}
#main #section3 .evebt02-box a img {width: 100%;}
#main #section3 .evebt02-box .list-event02 {width: 100%;display: none;}
#main #section3 .evebt02-box .list-event02 img {width: 100%;}


#main #section3 .evebt03-box {width: 100%;}
#main #section3 .evebt03-box a {display: block;}
#main #section3 .evebt03-box a img {width: 100%;}
#main #section3 .evebt03-box .list-event03 {width: 100%;display: none;}
#main #section3 .evebt03-box .list-event03 img {width: 100%;}

#main #section3 .evebt04-box {width: 100%;}
#main #section3 .evebt04-box a {display: block;}
#main #section3 .evebt04-box a img {width: 100%;}
#main #section3 .evebt04-box .list-event04 {width: 100%;display: none;}
#main #section3 .evebt04-box .list-event04 img {width: 100%;}

#main #section4 {width: 100%;position: relative;}
#main #section4  img {width: 100%;}

#main #section4 .evebt05-box {width: 100%;}
#main #section4 .evebt05-box a {display: block;}
#main #section4 .evebt05-box a img {width: 100%;}
#main #section4 .evebt05-box .list-event05 {width: 100%;display: none;}
#main #section4 .evebt05-box .list-event05 img {width: 100%;}

#main #section5 {width: 100%;position: relative;}
#main #section5 img {width: 100%;}


#wrap #footer {z-index:2;position:relative;width:100%;background:#2C2A29;}
#wrap #footer .container {max-width:100%;}
#wrap #footer .container .top {width:100%;padding:40px 0;}
#wrap #footer .container .top .wrap {width:100%;max-width:1182px;margin:0 auto;background:url(../images/footer_logo.png) no-repeat 100% 0;}
#wrap #footer .container .top .wrap ul {width:100%;display:flex;flex-flow:row nowrap;}
#wrap #footer .container .top .wrap ul li {width:20%;}
#wrap #footer .container .top .wrap ul li dl {width:100%;}
#wrap #footer .container .top .wrap ul li dl dt {line-height:40px;}
#wrap #footer .container .top .wrap ul li dl dt a {color:#eee;font-size:15px;}
#wrap #footer .container .top .wrap ul li dl dt a:hover {text-decoration:underline;}
#wrap #footer .container .top .wrap ul li dl dd {line-height:25px;}
#wrap #footer .container .top .wrap ul li dl dd a {color:#bbb;font-size:13px;}
#wrap #footer .container .top .wrap ul li dl dd a:hover {text-decoration:underline;}


#wrap #footer .container .middle {background:#282828;padding:25px 0;}
#wrap #footer .container .middle .wrap {width:100%;max-width:1182px;margin:0 auto;display:flex;flex-flow:row nowrap;}
#wrap #footer .container .middle .wrap span {width:100%;}
#wrap #footer .container .middle .wrap span a img {width:auto;}


#wrap #footer .container .bottom {padding:20px 0 40px 0;text-align:center;}
#wrap #footer .container .bottom .wrap {width:100%;max-width:1182px;margin:0 auto;}
#wrap #footer .container .bottom .wrap ul {width:100%;}
#wrap #footer .container .bottom .wrap ul li {padding:10px 0;}

#wrap #footer .container .bottom .wrap ul li:nth-child(1) div span {display:inline-block;}
#wrap #footer .container .bottom .wrap ul li:nth-child(1) div span a {color:#999;font-size:12px;letter-spacing:-1px;}
#wrap #footer .container .bottom .wrap ul li:nth-child(1) div span:nth-child(1) a {color:#00b050;}
#wrap #footer .container .bottom .wrap ul li:nth-child(1) div span i {display:block;width:1px;height:12px;background:#666;margin:0 10px;}

#wrap #footer .container .bottom .wrap ul li:nth-child(2) div {padding:0 0 10px 0;}
#wrap #footer .container .bottom .wrap ul li:nth-child(2) div span {margin:0 5px;width:125px;display:inline-block;}
#wrap #footer .container .bottom .wrap ul li:nth-child(2) div span a {display:block;width:100%;height:35px;border:2px solid #fff;color:#fff;border-radius:5px;text-align:center;line-height:29px;transition:all .3s;}
#wrap #footer .container .bottom .wrap ul li:nth-child(2) div span a:hover {text-decoration:underline;}

#wrap #footer .container .bottom .wrap ul li:nth-child(3) address {color:#999;font-size:13px;}

#wrap #footer .container .bottom .wrap ul li:nth-child(4) p {color:#999;font-size:12px;}

#wrap #footer .container .bottom .wrap ul li:nth-child(5) p span {display: inline-block;margin: 0 10px;}
#wrap #footer .container .bottom .wrap ul li:nth-child(5) p span a {color: #999;transition: all .3s;}
#wrap #footer .container .bottom .wrap ul li:nth-child(5) p span a:hover {color: #fff;}
#wrap #footer .container .bottom .wrap ul li:nth-child(5) p span i {font-size: 15px;}
#wrap #footer .container .bottom .wrap ul li:nth-child(6) p span {display: inline-block;margin: 0 10px;}
#wrap #footer .container .bottom .wrap ul li:nth-child(6) p span a {color: #999;transition: all .3s;}
#wrap #footer .container .bottom .wrap ul li:nth-child(6) p span a:hover {color: #fff;}
#wrap #footer .container .bottom .wrap ul li:nth-child(6) p span i {font-size: 15px;}

.go-top {z-index:3;position:fixed;bottom:30px;right:30px;width:40px;height:40px;background:#fff;border-radius:50%;}
.go-top a img {width:100%;}

